@model YumaPos.Tests.Load.Web.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    table td:last-child {
        text-align: right;
    }
</style>

<div class="row">
    <table>
        <tr>
            <th>Name</th>
            <th>Count</th>
        </tr>
        <tr>
            <td>@Html.ActionLink("Servers", "Index", "Crud", new RouteValueDictionary(){{"name", "Servers" } }, null) Count:</td>
            <td>@Model.ServersCount</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Tenants", "Index", "Tenant") Count:</td>
            <td>@Model.TenantsCount</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Stores", "Index", "Crud", new RouteValueDictionary() { { "name", "Stores" } }, null) Count:</td>
            <td>@Model.StoresCount</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Terminals", "Index", "Crud", new RouteValueDictionary() { { "name", "Terminals" } }, null) Count:</td>
            <td>@Model.TerminalsCount</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Employees", "Index", "Crud", new RouteValueDictionary(){{"name", "Employees" } }, null) Count:</td>
            <td>@Model.EmployeesCount</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("TestTasks", "Index", "Crud", new RouteValueDictionary(){{"name", "TestTasks" } }, null) Count:</td>
            <td>@Model.TestTasksCount</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Jobs", "Index", "Crud", new RouteValueDictionary(){{"name", "Jobs" } }, null) Count:</td>
            <td>@Model.JobsCount</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Clients", "Index", "Crud", new RouteValueDictionary(){{"name", "Clients" } }, null) Count:</td>
            <td>@Model.ClientsCount</td>
        </tr>
    </table>
</div>